// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	padding: 20px;
	margin: 20px;
}

button {
	background-color: white;
}

h4 {
	background-color: white;
	color: black;
	margin: 0px 300px 0px 300px;
	padding: 20px;
}
